<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container py-2">
    <div class="col-sm-2">
      <a class="navbar-brand" [routerLink]="['/aboutme']">Portfolio Janik Kämpfer</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end col-sm-2"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/aboutme']">About me</a>
        <a class="nav-item nav-link" [routerLink]="['/work']">Work</a>
        <a class="nav-item nav-link" [routerLink]="['/life']">Life</a>
      </div>
    </div>
  </div>
</nav>
