<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-2 my-4 border-top"
>
  <div class="container">
    <div class="row">
      <div class="col-10 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Janik Kämpfer</span>
      </div>
      <div class="col-2">
        <ul class="justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-muted" href="https://www.facebook.com/janik.kampfer"><i class="bi bi-facebook"></i></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="https://www.instagram.com/janik.ka/"><i class="bi bi-instagram"></i></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="https://twitter.com/280418_14031898"><i class="bi bi-twitter-x"></i></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="https://ch.linkedin.com/company/inova-solutions-ag"><i class="bi bi-linkedin"></i></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="https://github.com/jjaanniikk"><i class="bi bi-github"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
