<div class="container min-vh-100">
    <div class="row">
      <div class="col-12 col-md-8 left">
        <div class="jumbotron">
          <h1 class="display-4">Ciao a tutti!</h1>
          <p class="lead">Code, Kreativität und Karriere</p>
          <hr class="my-4">
          <p>            
            Willkommen auf meiner digitalen Spielwiese, wo Code und Kreativität Hand in Hand gehen und die Geschichte meiner Karriere bilden. Hier verschmelzen nicht nur Zeilen des Codes, sondern auch Pinselstriche meines Lebens.
            Begleite mich durch den Code, der nicht nur Maschinen antreibt, sondern auch meine Leidenschaft für logisches Denken zeigt. Erlebe, wie Design und Ästhetik auf den Code treffen und Innovation zum Leben erweckt wird. 
            Und wenn ich nicht vor dem Bildschirm sitze, finde mich auf dem Fußballplatz, wo Leidenschaft und Teamgeist die Regeln bestimmen. Oder vielleicht in der erfrischenden Aare, wo Schwimmen nicht nur eine sportliche Aktivität ist, sondern auch meine Seele belebt.
            Mach es dir gemütlich, schnapp dir eine virtuelle Tasse Kaffee, und lass uns gemeinsam durch meine Vergangenheit, Gegenwart und Zukunft scrollen. Willkommen in meinem digitalen Portfolio – einem Mosaik aus Leidenschaften und Projekten!</p>
        </div>
      </div>
      <div class="col-12 col-md-4 left">
        <img
        src="https://www.inova.ch/fileadmin/_processed_/0/4/csm_Inova14542_sw_68258159bd.jpg"
        id="work_image"
        class="img-rounded float-end"
        alt="Janik Kämpfer work"
      />
      </div>
    </div>
  </div>