#work_image {
    width: 75%;
    border-radius: 5%;
}

.display-4 {
    font-size: 2em;
    margin-bottom: 1em;
}

.list-group-item {
    background-color: transparent !important;
    border-bottom: 1px solid #333333 !important;
}
